

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Phudu:wght@300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Phudu:wght@300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Phudu:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1_400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Phudu:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@import "../../public/assets/css/bootstrap.min.css";  
@import "../../public/assets/css/aos.css"; 
@import "../../public/assets/css/magnific-popup.css"; 
@import "../../public/assets/css/remixicon.css"; 
@import "../../public/assets/css/clashdisplay.css"; 
@import "../../public/assets/css/main.css"; 
@import "../../public/assets/css/app.min.css"; 

/* Default for mobile */
.azzle-iconbox-column {
  grid-template-columns: repeat(1, 1fr);
}

/* Tablet */
@media (min-width: 768px) {
  .azzle-iconbox-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 992px) {
  .azzle-iconbox-column {
    grid-template-columns: repeat(3, 1fr);
  }
}

.equal-height-row {
  display: flex;
  flex-wrap: wrap;
}

.equal-height-row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.equal-height-row .azzle-pricing-wrap {
  height: 100%;
}

.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
}
.equal-height-cards > .col-xl-4 {
  display: flex;
  flex-direction: column;
}
.equal-height-cards > .col-xl-4 > .azzle-pricing-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.equal-height-cards > .col-xl-4 > .azzle-pricing-wrap > .azzle-pricing-body {
  flex-grow: 1;
}

.card-grid-container {
  display: grid;
  gap: 1.5rem; /* 24px */
}

.card-grid-item .azzle-pricing-wrap {
  height: 100%;
}

.azzle-pricing-wrap.active h4,
.azzle-pricing-wrap.active p {
  color: white;
}


@media (min-width: 768px) {
  .card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #bd8c2e;
}

.azzle-default-content.light-color h2,
.azzle-section-title.title2 h2,
.azzle-blog-wrap2 .azzle-blog-content2 a h3,
.azzle-cta-title3 h1,
.azzle-footer-menu2 h4,
.azzle-footer-section2 .azzle-section-title.title2 h2,
.azzle-default-content.content3 h2,
.azzle-section-title.font-title h2,
.azzle-t-wrap .azzle-default-content h3,
.azzle-faq-item.item2 .azzle-faq-header h3,
.azzle-blog-wrap .azzle-blog-content a h3 {
  color: white !important;
}

.azzle-iconbox-content h3, .azzle-breadcrumb-title, .azzle-team-content h3 {
  color: #bd8c2e !important;
  transition: color 0.3s ease-in-out;
}

.azzle-iconbox-button a {
  color: #bd8c2e;
  transition: all 0.3s ease-in-out;
}

.azzle-iconbox-wrap:hover .azzle-iconbox-content h3 {
  color: red !important;
}

.azzle-iconbox-wrap:hover .azzle-iconbox-button a {
  color: red;
}

.azzle-iconbox-wrap:hover .azzle-iconbox-button a svg path {
  stroke: red;
}

.azzle-iconbox-button a:hover svg {
  transform: translateX(5px);
}
.azzle-iconbox-button a svg {
  transition: all 0.3s ease-in-out;
}
.site-header {
  background-color: white !important;
}
.site-header a {
  color: initial !important;
}

.site-header .azzle-default-btn {
    border: 1px solid #bd8c2e;
    color: #bd8c2e !important;
}
.site-header .azzle-default-btn:hover {
    background: #bd8c2e;
    color: white !important;
}

.site-header .azzle-header-login-button ul li a {
    color: #bd8c2e !important;
}

.azzle-iconbox-wrap .azzle-iconbox-content h3 {
  color: initial !important;
}
